.container {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 1rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 0.5rem;
    letter-spacing: -0.05rem;
    position: relative;
    z-index: 1;
}

.header div {
    display: inline;
    cursor: pointer;
}

.header span {
    font-size: 4rem;
    color: var(--theme);
}